
NODE_ENV=
SECRET_STR=
REFRESH_SECRET_STR=
LOGIN_EXPIRES=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=


SERVER_PORT=


POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_PORT=

ACCESS_KEY=
SECRET_KEY=
BUCKET_NAME=
REGION=


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

DATABASE_URL=
CLIENT_URL=